*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#section1{ 
    display: flex;
    flex-wrap: wrap;
}
.blog{
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .blog{
        width: 100%;
    }
  }
  