<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="./views/signin.html">sign in </a>
        <a href="./views/signup.html">sign up </a>
        <a href="./views/singleblog.html">singleblog</a>
    </nav>     
    <section>
        <header>
            blog title
        </header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, vero, tenetur earum voluptas, consequuntur sint officia porro sed nam veritatis dolores quos minus ipsa debitis a iure incidunt adipisci accusamus?
        </p>
        <form>
            <h6>please write your comment down below</h6>
            <textarea>

            </textarea>
            <button>Comment</button>
        </form>
    </section>  
</body>
</html>